<style>
.active_agent_box {
	border-color: #0E0E0E!important;
}
.active_agent_box > .panel-heading {
	background-color: #fcf8e3!important;
}
#filter_agent_keywords {
	width: 100%;
}

</style>

<!-- Data Service Services -->

<div class="row">
	<div class="col-lg-10">
		<h5 class="page-header" id="page_breadcrumb"></h5>
	</div>
	<div class="col-lg-2 text-right" style="padding: 10px;">
		<button type="button" class="btn btn-goto-router data-control-insert" onclick="newAgent()" title="Activate new A.I Agent" >
			<i class="fa fa-plus-circle" aria-hidden="true"></i> Activate Agent
		</button>
	</div>
</div>

<div class="top_page_header" >
	<h4> 
		<i class="fa fa-exchange " aria-hidden="true"></i> Agent Activation Hub 
		<i id="agents_tooltip" class="fa fa-question-circle" aria-hidden="true" title="Please set configuration to activate Agent" ></i>
	</h4>
</div>

<div class="col-lg-12 row">
	<div class="panel panel-info" >
	   	<div class="panel-heading">
	   		<b> <i class="fa fa-search" aria-hidden="true"></i> Data Query Filter </b>
	   	</div>
	    <div class="panel-body">
	      	<div class="col-lg-12 row">
	      		<div class="col-lg-8" >
	      			<div class="col-md-7" >
						<input id="filter_agent_keywords" type="text" placeholder="Enter keywords to filter by name" autocomplete="off">		
					</div>	
					<div class="col-md-5" >	
						<select class="form-control" id="select_filter_agents" >
					    	<option value="all"> Show all A.I Agents </option>
					    	<option value="active"> Show only active A.I Agents </option>
					    	<option value="active_for_personalization" title="filter only active A.I Agents for personalization" > Show active Agents for personalization</option>
					    	<option value="active_for_enrichment" title="filter only active A.I Agents for data-enrichment"> Show active Agents for data-enrichment</option>
					    	<option value="active_for_synchronization" title="filter only active A.I Agent for synchronization"> Show active Agent for synchronization</option>
					    </select>
				    </div>
				</div>
				<div class="col-lg-4">
					<div class="col-md-6 text-center" >
					 	<button type="button" style="width: 160px;" class="btn btn-do-now" onclick="resetAgentFilter()" >
					 		<i class="fa fa-fw fa-undo"></i> Reset 
					 	</button>
					</div>
					<div class="col-md-5 text-center" >
					 	<button type="button" style="width: 160px;" class="btn btn-goto-router" onclick="loadAllAgents()" >
					 		<i class="fa fa-fw fa-filter"></i> Filter 
					 	</button>
					</div>
				</div>
	      	</div>
	    </div>
	</div>
	<div class="row gridholder">
		<div id="agents_loader" class="loader"></div>
		<div class="col-lg-12" id="agents_holder" style="display: none;">
			<!-- list -->
		</div>
		<div class="col-lg-12" id="agents_pagination" > </div>
	</div>	
</div>

<script id='tpl_agent_view' type="text/html" >
<div class="agent_box col-lg-4">
  <div class="panel panel-default" id="agent_box_<%- id %>">
	<div class="panel-heading"   > 
		<b id="service_box_header_<%- id %>" > 
			<i class="fa fa-exchange " aria-hidden="true"></i> <span style="font-size:13px"> <%- name %> </span> 
		</b>
		<i class="fa fa-question-circle config_description" aria-hidden="true" style="float:right" title="<%- description %>" ></i>
	</div>
	<div class="panel-body">
		<div class="row" >
			<div class="col-md-12">
				<div class="form-group">
					<div id="<%- id %>_api_key_div" >
						<label id="<%- id %>_dag_id_label" for="<%- id %>_api_key"> Apache Airflow DAG ID </label>
						<input id="<%- id %>_dag_id"  autocomplete="off" type="text" value="<%- dagId %>" class="form-control" placeholder="Apache Airflow DAG ID" disabled >
						<br>
					</div>
					<div id="<%- id %>_api_url_div" >
  						<label for="<%- id %>_api_url">  API URL </label>
  						<input id="<%- id %>_api_url" autocomplete="off" type="text" value="<%- configs.service_api_url %>" class="form-control"  placeholder="API URL" disabled >
					</div>
				</div>
			</div>
		</div>
	 	<div id="<%- id %>_buttons_div" class="row" style="margin-top:10px">
			<div class="col-md-4 text-center">
		    	<button type="button" class="btn btn-goto-router btn-sm" title="Set configs for this agent" onclick="loadAgent('<%- id %>')" > 
		  			<i class="fa fa-cog" aria-hidden="true"></i> Configs 
		  		</button>
		    </div>
			<div class="col-md-4 text-center">
		    	<button type="button" class="btn btn-danger btn-sm" title="Delete this data service" onclick="deleteAgent('<%- id %>')" > 
		  			<i class="fa fa-trash" aria-hidden="true"></i> Delete
		  		</button>
		    </div>
			<div class="col-md-4 text-center">
		    	<button type="button" class="btn btn-danger btn-sm" title="Delete all configs of this data service" onclick="resetAgent('<%- id %>')" > 
		  			<i class="fa fa-undo" aria-hidden="true"></i> Reset
		  		</button>
		    </div>
	 	</div>
	</div>
  </div>
</div>
</script>


<script id='tpl_config_row_item' type="text/html" >
<div class="col-md-12 form-group config_item"  id="configAgent_<%- serviceId %>_<%- time %>" >
	<div class="col-md-3 float-left" >
    	<input type="text" name="configName" placeholder="Enter key" class="form-control" value="<%- configName %>" >
   	</div>
	<div class="col-md-8 float-left" >
    	<input type="<%- inputType %>" name="configValue" placeholder="Enter value" class="form-control" value="<%- configValue %>">
   	</div>
	<div title="Delete" class="col-md-1" onclick="deleteConfigOfAgent('configAgent_<%- serviceId %>_<%- time %>')"> 
		<h4><i class="fa fa-times-circle delete-item-btn" aria-hidden="true"></i></h4> 
	</div>
</div>
</script>


<!-- dialog html -->
<div class="modal fade" id="dialogSetAgentInfo" role="dialog" aria-labelledby="agentInfoTitle">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header bg-primary text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="agentInfoTitle">
					<i class="fa fa-info-circle"></i> Computational Agent Information
				</h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">

				<!-- BASIC INFO -->
				<div class="form-horizontal">

					<div class="form-group">
						<label class="control-label col-md-3" for="dataServiceName">
							Name <span class="text-danger">*</span>
						</label>
						<div class="col-md-9">
							<input
								type="text"
								id="dataServiceName"
								class="form-control"
								placeholder="e.g. Personalization Engine"
								required
							>
							<p class="help-block">A unique, human-readable name for this agent.</p>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="dataServiceDescription">
							Description
						</label>
						<div class="col-md-9">
							<textarea
								id="dataServiceDescription"
								class="form-control"
								rows="3"
								placeholder="Describe what this agent does and how it is used"
							></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3" for="dataServiceDagId">
							Dataflow Graph ID
						</label>
						<div class="col-md-9">
							<input
								type="text"
								id="dataServiceDagId"
								class="form-control"
								placeholder="graph_id or DAG identifier"
							>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Status</label>
						<div class="col-md-9">
							<div class="checkbox">
								<label>
									<input id="agentStatus" type="checkbox">
									<strong>Ready</strong>
								</label>
							</div>
							<p class="help-block">Only ready agents can be executed in workflows.</p>
						</div>
					</div>

				</div>

				<hr>

				<!-- PURPOSE -->
				<h5><strong>Purpose</strong></h5>
				<div class="form-group">
					<div class="checkbox">
						<label>
							<input id="forPersonalization" type="checkbox" value="true">
							<strong>Data Personalization</strong>
							<span class="text-muted">
								– recommendation engines, decisioning logic
							</span>
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input id="forDataEnrichment" type="checkbox" value="true">
							<strong>Data Enrichment</strong>
							<span class="text-muted">
								– CLV scoring, interest prediction
							</span>
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input id="forSynchronization" type="checkbox" value="true">
							<strong>Data Synchronization</strong>
							<span class="text-muted">
								– push data to email / marketing platforms
							</span>
						</label>
					</div>
				</div>

				<hr>

				<!-- CONFIGURATIONS -->
				<div class="clearfix" style="margin-bottom: 10px;">
					<strong class="pull-left">Configurations</strong>
					<button
						type="button"
						class="btn btn-primary btn-xs pull-right"
						title="Add a configuration"
						onclick="addNewConfigForAgent('newConfig')">
						<i class="fa fa-plus"></i> New Config
					</button>
				</div>

				<div
					id="dataServiceConfigList"
					class="well well-sm"
					style="max-height: 220px; overflow-y: auto;">
					<p class="text-muted text-center">
						No configurations added yet.
					</p>
				</div>

			</div>

			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<i class="fa fa-times"></i> Close
				</button>
				<button
					type="button"
					class="btn btn-success"
					id="dataServiceSaveButton"
					onclick="saveAgentInfo(this)">
					<i class="fa fa-check"></i> Save Agent
				</button>
			</div>

		</div>
	</div>
</div>



<script>
	var initAgentManagement = function() {
		loadAllAgents();		
	}
</script>