
<style>
.survey_item_summary {
	margin-top: 15px;
}
.survey_item_summary > div.highlight_text {
	margin: 10px 0;
}
.survey_item_summary div.small {
	margin: 5px 0;
}
.survey_title {
	margin: 5px 0;
	font-weight: bold;
}
.survey_item_summary .progress {
	margin: 5px 0;
}

.list-group-item {
	color: #273746!important;
	margin: 10px !important;
}
.item_question, .item_response {
	background-color:#FAFADE; font-size:1.1em; font-weight: bold; border-radius: 8px;
}
.item_response {
	color: #3300ff!important;
}
div.download_link_holder {
	float: right; padding-top: 4px; font-weight: bold; font-size: 14px;
}
.stats_item {
	background-color: #FFF8DC;
    color: #0000CD;
    border-radius: 6px;
    padding: 3px;
    font-weight: bold;
    overflow: hidden;
}
.collector-item {
	padding: 4px!important; 
}
.chosen-container {
	z-index: 100!important;
}
.chosen-with-drop {
	z-index: 101!important;
}
.cy-panzoom {
	z-index: 1!important;
}
.cy_node_profile {
	margin-bottom:10px;font-size:1.5em;font-weight:bold;color:blue;background-color:#FCF38A;padding: 3px;
}
.cy_node_touchpoint {
	margin-bottom:10px;font-size:1.2em;
}
.modal-xl {
	width: 1180px; margin: auto;
}
#page_breadcrumb {
	font-weight:bold;
}
</style>

<script id='survey-report-item-tpl' type="text/html">
<li class="list-group-item view" id="fsri_<%- id %>">

    <!-- ================= SUMMARY ================= -->
    <div class="row">
        <div class="col-md-3 survey_item_summary" id="fsrs_<%- id %>">
            <div class="well well-sm text-center">

                <div id="fs_star_<%- id %>" style="margin-bottom:5px;"></div>

                <div>
                    <small>Average Score</small><br>
                    <mark style="font-size:1.3em;"><%- avgFeedbackScore %></mark>
                </div>

                <hr style="margin:8px 0;">

                <div class="small">
                    <b><%- (profileCount).toLocaleString() %></b><br>
                    <span class="text-muted">Participants</span>
                </div>

                <div class="small" style="margin-top:5px;">
                    <b><%- (surveyCount).toLocaleString() %></b><br>
                    <span class="text-muted">Responses</span>
                </div>

                <% if(timePeriod) { %>
                <div class="small text-muted" style="margin-top:8px;">
                    <i class="fa fa-clock-o"></i> <%- timePeriod %>
                </div>
                <% } %>

            </div>
        </div>

        <div class="col-md-9">

            <!-- HEADER -->
            <div class="clearfix">
                <small class="text-muted pull-right">
                    Updated: <b><%- createdAt %></b>
                </small>

                <h4 style="margin-top:0;">
                    <a href="<%- previewUrl %>" target="_blank">
                        <i class="fa fa-file-text-o"></i> <%- header %>
                    </a>
                </h4>
            </div>

            <!-- TITLE -->
            <% if(title) { %>
            <div class="small text-muted" style="margin-bottom:10px;">
                <i class="fa fa-tag"></i> <%- title %>
            </div>
            <% } %>

            <!-- SENTIMENT -->
            <div style="margin-top:10px;">
                <b><i class="fa fa-smile-o"></i> Customer Sentiment</b>

                <div class="progress" style="margin-top:5px;">
                    <div class="progress-bar progress-bar-danger"
                         style="width:<%- scoreCX.negative %>%">
                        <%- scoreCX.negative %>% Negative
                    </div>
                    <div class="progress-bar"
                         style="width:<%- scoreCX.neutral %>%">
                        <%- scoreCX.neutral %>% Neutral
                    </div>
                    <div class="progress-bar progress-bar-success"
                         style="width:<%- scoreCX.positive %>%">
                        <%- scoreCX.positive %>% Positive
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- ================= RATING RESULTS ================= -->
    <% if(surveyResults && surveyResults.length > 0) { %>
    <div style="margin-top:15px;">
        <b>
            <i class="fa fa-bar-chart"></i> Rating Breakdown
        </b>

        <button class="btn btn-xs btn-default pull-right"
                data-toggle="collapse"
                data-target="#survey_data_<%- id %>"
                onclick="showRawSurveyData(this)">
            View Details
        </button>

        <div id="survey_data_<%- id %>" class="collapse" style="margin-top:10px;">
            <ul class="list-group">

                <% _.forEach(surveyResults, function(r) { %>
                <li class="list-group-item">

                    <div>
                        <b><%- r.question %></b>
                    </div>

                    <div class="row" style="margin-top:8px;">
                        <% _.forEach(r.answerResults, function(a) { %>
                        <div class="col-xs-4 text-center" style="margin-bottom:10px;">
                            <div class="label label-default"><%- a.answer %></div>
                            <div class="small text-muted">
                                <%- a.responseCount.toLocaleString() %> responses
                            </div>
                        </div>
                        <% }); %>
                    </div>

                </li>
                <% }); %>

            </ul>
        </div>
    </div>
    <% } %>


    <!-- ================= SINGLE CHOICE ================= -->
    <% if(singleChoiceQuestionAnswer && Object.keys(singleChoiceQuestionAnswer).length > 0) { %>
    <div style="margin-top:15px;">
        <b>
            <i class="fa fa-check-circle"></i> Single-Choice Answers
        </b>

        <button class="btn btn-xs btn-default pull-right"
                data-toggle="collapse"
                data-target="#singleChoice_<%- id %>"
                onclick="toggleListView(this)">
            View Answers
        </button>

        <div id="singleChoice_<%- id %>" class="collapse" style="margin-top:10px;">
            <ul class="list-group">

                <% _.forEach(singleChoiceQuestionAnswer, function(item) { %>
                <li class="list-group-item">

                    <div>
                        <b><%- item.question %></b>
                    </div>

                    <div style="margin-top:6px;">
                        <%
                        var freq = _.countBy(item.answers);
                        _.forEach(freq, function(count, val) { %>
                            <span class="label label-primary" style="margin-right:6px;">
                                <%- val %> (<%- count %>)
                            </span>
                        <% }); %>
                    </div>

                    <div class="small text-muted" style="margin-top:5px;">
                        Total responses: <%- item.answers.length %>
                    </div>

                </li>
                <% }); %>

            </ul>
        </div>
    </div>
    <% } %>


    <!-- ================= PROFILES ================= -->
    <div style="margin-top:15px;">
        <b>
            <i class="fa fa-users"></i> Respondent Profiles
        </b>

        <button class="btn btn-xs btn-default pull-right"
                data-toggle="collapse"
                data-target="#survey_profile_<%- id %>"
                onclick="toggleListView(this)">
            View Profiles
        </button>

        <div id="survey_profile_<%- id %>" class="collapse" style="margin-top:10px;">
            <ul class="list-group" style="max-height:300px; overflow-y:auto;">

                <% _.forEach(profileIds, function(profileId) { %>
                <li class="list-group-item">

                    <i class="fa fa-user"></i>
                    <a target="_blank"
                       href="#calljs-leoCdpRouter('Customer_Profile_Info','<%- profileId %>')">
                        <%- profileId %>
                    </a>

                </li>
                <% }); %>

            </ul>
        </div>
    </div>

</li>
</script>

<script id='system-event-table-tpl' type="text/html" >
<div class="col-lg-12">
	<div id="system_event_loader" class="loader"></div>
	<div id="system_event_list" class="row" style="display: none;">
		<div class="col-lg-12">
			<div class="top_page_header" >
				<h4 class="highlight_text"> <i class="fa fa-list" aria-hidden="true"></i> 
					Action Logs of <%- eventObjectName %>
				</h4>
			</div>
	    	<div class="table-responsive">
		        <table id="system_event_table" class="display" style="width:100%;">
		            <thead>
		                <tr>
		                	<th class="text-center">Time</th>
		                    <th class="text-center">Action URI</th>
		                    <th class="text-center">Access IP</th>
		                    <th class="text-center">User Agent</th>
		                    <th class="text-center">Data</th>
		                </tr>
		            </thead>
		            <tfoot>
		                <tr>
		                	<th class="text-center">Time</th>
		                    <th class="text-center">Action URI</th>
		                    <th class="text-center">Access IP</th>
		                    <th class="text-center">User Agent</th>
		                    <th class="text-center">Data</th>
		                </tr>
		            </tfoot>
		        </table>
	    	</div>
		</div>
	</div>
</div>
</script>