# BEGIN ########################## REQUIRED METADATA for Admin Setup ##############################

superAdminEmail=admin@example.com

httpObserverDomain=http://127.0.0.1:8601
httpLeoBotDomain=http://127.0.0.1:8601
httpLeoBotApiKey=change-me

httpAdminDomain=http://127.0.0.1:8600
webSocketDomain=ws://127.0.0.1:8600
adminLogoUrl=

smtpHost=smtp.example.com
smtpPort=587
smtpUser=
smtpPassword=
smtpFromAddress=noreply@example.com
smtpFromName=CDP Admin
smtpTls=true

mainDatabaseConfig=cdpDbConfigs
systemDatabaseConfig=cdpDbConfigs

databaseBackupPeriodHours=24
databaseBackupRetentionDays=7
databaseBackupPath=/app/backup_database

# END ########################## REQUIRED METADATA for Admin Setup ##############################

runtimeEnvironment=PRO
minifySuffix=-min
buildEdition=PRO
buildVersion=v_0.9.0

profileMergeStrategy=manually

httpStaticDomain=cdn.jsdelivr.net/gh/USPA-Technology/leo-cdp-static-files@v0.9

industryDataModels=COMMERCE,MEDIA,SERVICE,FINANCE

runtimePath=.
pathMaxmindDatabaseFile=data/GeoIP2-City-Asia-Pacific.mmdb

httpRoutingConfigAdmin=leocdp-admin
httpRoutingConfigObserver=datahub

messageQueueType=local
enableCachingViewTemplates=true

kafkaBootstrapServer=localhost:9092
kafkaTopicEvent=LeoCdpEvent
kafkaTopicEventPartitions=2
kafkaTopicProfile=LeoCdpProfile
kafkaTopicProfilePartitions=2

numberOfDaysToKeepDeadVisitor=30
maxSegmentSizeToRunInQueue=10000
batchSizeOfSegmentDataExport=300

updateShellScriptPath=
updateLeoSystemSecretKey=
